---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/button.scss";
import "@kth/style/scss/components/visually-hidden.scss";
---

<button class="kth-icon-button close">
  <span class="kth-visually-hidden">{"close"}</span>
</button>
