---
import MainHeaderLogotype from "./Logotype.astro";
import NavigationPanel from "./NavigationPanel.astro";
import NavigationPanelMobile from "./NavigationPanelMobile.astro";
import SearchPanel from "./SearchPanel.astro";

const navigationPanelsSv = [
  {
    dataId: "1.575942",
    label: "Din anställning",
  },
  {
    dataId: "1.575949",
    label: "Stöd och service",
  },
  {
    dataId: "1.1067969",
    label: "Utbilda",
  },
  {
    dataId: "1.1067196",
    label: "Forska",
  },
  {
    dataId: "1.575952",
    label: "Orgasnisation och styrning",
  },
];
---

<header class="kth-header intranet">
  <div class="kth-header__container">
    <MainHeaderLogotype alt="Gå till KtH intranät" />
    <nav class="kth-mega-menu">
      <ul>
        {
          navigationPanelsSv.map(({ dataId, label }) => (
            <li>
              <NavigationPanel dataId={dataId} label={label} />
            </li>
          ))
        }
      </ul>
    </nav>

    <ul class="kth-header__tools">
      <li>
        <SearchPanel />
      </li>
      <li>
        <a href="/" class="kth-menu-item language">
          <span>English</span>
        </a>
      </li>
      <li>
        <nav class="kth-mega-menu--collapsable">
          <button class="kth-menu-item menu">
            <span>Menu</span>
          </button>
          <dialog class="kth-menu-panel--modal">
            <!-- -->
            <button class="kth-button close">
              <span class="kth-visually-hidden">Close</span>
            </button>
            <div class="kth-menu-panel__content">
              <h2>Menu</h2>
              <ul>
                {
                  navigationPanelsSv.map(({ label, dataId }) => (
                    <NavigationPanelMobile label={label} dataId={dataId} />
                  ))
                }
              </ul>

              <ul class="kth-menu-panel__entries">
                <li><a href="https://kth.se">kth.se</a></li>
                <li><a href="https://student.kth.se">Studentwebben</a></li>
                <li><a href="https://intra.kth.se">Intranät</a></li>
              </ul>
            </div>
          </dialog>
        </nav>
      </li>
    </ul>
  </div>
</header>

<script>
  import { MenuPanel } from "@kth/style";

  // Set navigationPanels only to non-mobile versions
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-mega-menu .kth-menu-item"),
  );
  MenuPanel.init(
    document.querySelector(".kth-header"),
    document.querySelectorAll(".kth-menu-item.search"),
  );

  MenuPanel.initModal(
    document.querySelectorAll(".kth-mega-menu--collapsable .kth-menu-item"),
  );
  MenuPanel.initModal(
    document.querySelectorAll(
      ".kth-mega-menu--collapsable .kth-menu-item--modal",
    ),
  );
</script>
