---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="kth-kpm"></div>
<script src="https://app.kth.se/kpm/kpm.js"></script>
