<div class="kth-kpm">
  <div class="kth-kpm__container">
    <nav class="kth-entrances" aria-label="Ingångar">
      <ul>
        <li>
          <a class="kth-menu-item" href="https://kth.se">
            <span>kth.se</span>
          </a>
        </li>
        <li>
          <a class="kth-menu-item" href="https://kth.se/student">
            <span>Studentwebben</span>
          </a>
        </li>
        <li>
          <a
            class="kth-menu-item"
            href="https://intra.kth.se"
            aria-current="true"
          >
            <span>Intranät</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
