---
import "./kpm.scss";
import "./kpm__entrances.scss";
import PersonalMenu from "./Kpm__PersonalMenu.astro";
---

<div class="kth-kpm">
  <div class="kth-kpm__container">
    <nav class="kth-kpm__entrances" aria-label="Ingångar">
      <ul>
        <li><a href="https://kth.se">kth.se</a></li>
        <li><a href="https://kth.se/student">Studentwebben</a></li>
        <li>
          <a href="https://intra.kth.se" aria-current="true">Intranät</a>
        </li>
      </ul>
    </nav>
    <PersonalMenu />
    <nav class="kth-kpm__personal-menu" aria-label="Personliga menyn"></nav>
  </div>
</div>
