<div class="kpm">
  <div class="kpm__container">
    <nav class="kpm__entries" aria-label="Ingångar">
      <ul>
        <li><a href="https://kth.se">kth.se</a></li>
        <li><a href="https://kth.se/student">Studentwebben</a></li>
        <li>
          <a href="https://intra.kth.se" aria-current="true">Intranät</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
