---
import "./kpm__personal-menu.scss";
---

<ul class="kth-kpm__personal-menu">
  <li>
    <button class="kth-menu-item dropdown">
      <span>Mina studier</span>
    </button>
  </li>
  <li>
    <button class="kth-menu-item dropdown">
      <span>Undervisning</span>
    </button>
  </li>
  <li>
    <button class="kth-menu-item dropdown">
      <span>Tjänster</span>
    </button>
  </li>
  <li>
    <button class="kth-menu-item dropdown">
      <span>Program</span>
    </button>
  </li>
  <li>
    <button class="kth-menu-item dropdown">
      <span>Grupper</span>
    </button>
  </li>
  <li>
    <button class="kth-menu-item dropdown">
      <span>Jag</span>
    </button>
  </li>
</ul>
<div class="kth-kpm__personal-menu--collapsable">
  <button class="kth-menu-item">
    <span>Personliga menyn</span>
  </button>
</div>
