@use "@kth/style/scss/tokens/colors";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/utils/mixins";

$border-width: 0.25rem;

@layer kth-style {
  .kth-kpm__entrances {
    > ul {
      @include mixins.horizontal-list();
      gap: spacing.$space-4;
    }

    a {
      --border-width: #{$border-width};
      display: block;
      padding-block-start: var(--space-inner-block);
      padding-block-end: calc(var(--space-inner-block) - var(--border-width));

      border-block-end-width: var(--border-width);
      border-block-end-style: solid;
      border-block-end-color: transparent;

      text-decoration: none;
      color: var(--color-primary);
    }

    // "kth.se" link should be exactly the same size as the logotype
    li:nth-child(1) a {
      inline-size: var(--kth-logotype-block-size, 4rem);
      text-align: center;
    }

    li:nth-child(2) a {
      padding-inline: spacing.$space-8;
    }

    li:nth-child(3) a {
      padding-inline: spacing.$space-8;
    }

    // Color each entrance differently when they are the current one
    li:nth-child(1) a[aria-current="true"] {
      background: colors.$color-blue-kth;
      color: colors.$color-white;
    }
    li:nth-child(2) a[aria-current="true"] {
      background: colors.$color-blue-light;
      color: colors.$color-blue-kth;
    }
    li:nth-child(3) a[aria-current="true"] {
      background: colors.$color-sand;
      color: colors.$color-blue-kth;
    }
  }
}

@media (width < 64rem) {
  .kth-kpm__entrances {
    display: none;
  }
}
