<div class="kth-local-navigation">
  <a href="/" class="kth-button back">Intranet</a>

  <h2>KTH Style</h2>
  <ul>
    <li>
      <a class="kth-local-navigation__entry" href="/style" aria-current="page"
        >Home</a
      >
    </li>
    <li>
      <a class="kth-local-navigation__entry expandable" href="/style"
        >Get started</a
      >
    </li>
    <li class="kth-local-navigation__submenu">
      <h3>Styles</h3>
      <ul>
        <li>
          <a class="kth-local-navigation__entry" href="/style/en/styles/"
            >Design tokens</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
