---
export interface Props {
  alt: string;
}

const { alt } = Astro.props;
---

<a href="/" class="kth-logotype">
  <figure>
    <img
      alt={alt}
      srcset=" /style/assets/kth-logotype-blue.webp,
    /style/assets/kth-logotype-blue@2x.webp 2x,
    /style/assets/kth-logotype-blue@3x.webp 3x "
      src="/style/assets/kth-logotype-blue.png"
    />
  </figure>
</a>
