---
export interface Props {
  alt: string;
  theme: 'intranet' | 'student-web' | 'external'
}

const { alt, theme } = Astro.props;
const logoPath = theme === "external" ? "logotype-white.svg" : "logotype-blue.svg";

---

<a href="/" class="kth-logotype">
  <figure>
    <img
      alt={alt}
      width="64"
      height="64"
      src=`/style/assets/logotype/${logoPath}` 
    />
  </figure>
</a>
