---
export interface Props {
  alt: string;
  isIntranet: boolean
}

const { alt, isIntranet } = Astro.props;
const src = isIntranet ? "logotype-blue.svg" : "logotype-white.svg";

---

<a href="/" class="kth-logotype">
  <figure>
    <img
      alt={alt}
      width="64"
      height="64"
      src=`/style/assets/logotype/${src}` 
    />
  </figure>
</a>
