---
export interface Props {
  alt: string;
  theme: string
}

const { alt, theme } = Astro.props;
const src = theme === "intranet" || theme === "student-web" ? "logotype-blue.svg" : "logotype-white.svg";

---

<a href="/" class="kth-logotype">
  <figure>
    <img
      alt={alt}
      width="64"
      height="64"
      src=`/style/assets/logotype/${src}` 
    />
  </figure>
</a>
