---
export interface Props {
  alt: string;
}

const { alt } = Astro.props;
---

<a href="/" class="kth-main-header__logotype">
  <figure>
    <img
      class="blue"
      alt={alt}
      srcset=" /style/assets/kth-logotype-blue.webp,
    /style/assets/kth-logotype-blue@2x.webp 2x,
    /style/assets/kth-logotype-blue@3x.webp 3x "
      src="/style/assets/kth-logotype-blue.png"
    />
    <img
      class="white"
      alt={alt}
      srcset=" /style/assets/kth-logotype-white.webp,
    /style/assets/kth-logotype-white@2x.webp 2x,
    /style/assets/kth-logotype-white@3x.webp 3x "
      src="/style/assets/kth-logotype-white.png"
    />
  </figure>
</a>
