---
import NavigationPanel from "./NavigationPanel.astro";
---

<header class="kth-main-header intranet">
  <div class="kth-main-header__container">
    <a href="/">
      <figure class="kth-main-header__logotype blue">
        <img
          alt="Gå till KTH intranät"
          srcset="
          /style/assets/kth-logotype-blue.webp,
          /style/assets/kth-logotype-blue@2x.webp 2x,
          /style/assets/kth-logotype-blue@3x.webp 3x
          "
          src="/style/assets/kth-logotype-blue.png"
        />
      </figure>
      <figure class="kth-main-header__logotype white">
        <img
          alt="Gå till KTH intranät"
          srcset="
          /style/assets/kth-logotype-white.webp,
          /style/assets/kth-logotype-white@2x.webp 2x,
          /style/assets/kth-logotype-white@3x.webp 3x
          "
          src="/style/assets/kth-logotype-white.png"
        />
      </figure>
    </a>
    <nav class="kth-main-header__mega-menu">
      <ul>
        <li>
          <NavigationPanel dataId="1.575942" label="Din anställning" />
        </li>
        <li>
          <NavigationPanel dataId="1.575949" label="Stöd och service" />
        </li>
        <li>
          <NavigationPanel dataId="1.1067969" label="Utbilda" />
        </li>
        <li>
          <NavigationPanel dataId="1.1067196" label="Forska" />
        </li>
        <li>
          <NavigationPanel
            dataId="1.575952"
            label="Orgasnisation och styrning"
          />
        </li>
      </ul>
    </nav>

    <ul class="kth-main-header__tools">
      <li>
        <a href="/" class="kth-header-menu-item search">
          <span>Sök</span>
        </a>
      </li>
      <li>
        <a href="/" class="kth-header-menu-item language">
          <span>English</span>
        </a>
      </li>
      <li class="kth-main-header__mega-menu--collapsable">
        <button class="kth-header-menu-item">
          <span>Menu</span>
        </button>
      </li>
    </ul>
  </div>
</header>

<script>
  import { setNavigationPanels } from "@kth/style";

  setNavigationPanels(
    document.querySelector(".kth-main-header"),
    document.querySelectorAll(".kth-main-header .kth-header-menu-item"),
  );
</script>
