---
import { Image } from "astro:assets";
import logotype from "../images/logo.png";
import NavigationPanel from "./NavigationPanel.astro";
import SearchPanel from "./SearchPanel.astro";
---

<header class="kth-main-header intranet">
  <div class="kth-main-header__container">
    <figure class="kth-main-header__logotype">
      <Image src={logotype} alt="KTH:s Logotyp" />
    </figure>
    <nav class="kth-main-header__mega-menu">
      <ul>
        <li>
          <NavigationPanel label="Din anställning" />
        </li>
        <li>
          <NavigationPanel label="Stöd och service" />
        </li>
        <li>
          <NavigationPanel label="Utbilda" />
        </li>
        <li>
          <NavigationPanel label="Forska" />
        </li>
        <li>
          <NavigationPanel label="Orgasnisation och styrning" />
        </li>
      </ul>
    </nav>

    <ul class="kth-main-header__tools">
      <li>
        <SearchPanel label="Sök" />
      </li>
      <li>
        <a class="kth-link--language">
          <span>English</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="kth-main-header__mega-menu--collapsable">M</div>
</header>
