---
import { Image } from "astro:assets";
import logotype from "../images/logo.png";
import NavigationPanel from "./NavigationPanel.astro";
---

<header class="kth-main-header intranet">
  <div class="kth-main-header__container">
    <figure class="kth-main-header__logotype">
      <Image src={logotype} alt="KTH:s Logotyp" />
    </figure>
    <nav class="kth-main-header__mega-menu">
      <ul>
        <li>
          <NavigationPanel label="Din anställning" />
        </li>
        <li>
          <NavigationPanel label="Stöd och service" />
        </li>
        <li>
          <NavigationPanel label="Utbilda" />
        </li>
        <li>
          <NavigationPanel label="Forska" />
        </li>
        <li>
          <NavigationPanel label="Orgasnisation och styrning" />
        </li>
      </ul>
    </nav>

    <ul class="kth-main-header__tools">
      <li>
        <a href="/" class="kth-header-menu-item search">
          <span>Sök</span>
        </a>
      </li>
      <li>
        <a href="/" class="kth-header-menu-item language">
          <span>English</span>
        </a>
      </li>
      <li class="kth-main-header__mega-menu--collapsable">
        <button class="kth-header-menu-item">
          <span>Menu</span>
        </button>
      </li>
    </ul>
  </div>
</header>

<script>
  import { setNavigationPanels } from "@kth/style";

  setNavigationPanels(
    document.querySelector(".kth-main-header"),
    document.querySelectorAll(".kth-main-header .kth-header-menu-item"),
  );
</script>
