---
// import MenuWithPanel from "./MenuWithPanel.astro";
---

<nav class="kth-header">
  <ul class="kth-header__mega-menu">
    <li class="kth-panel">
      <a href="/utbildning" data-id="menu-utbildning">Utbildning</a>
      <dialog data-id="menu-utbildning" data-content-id=""></dialog>
    </li>
    <!-- <li><MenuWithPanel label="Forskning" data-content-id="XXXXDDD" /></li>
    <li><MenuWithPanel label="Samverkan" data-content-id="XXXXDDD" /></li>
    <li><MenuWithPanel label="Om KTH" data-content-id="XXXXDDD" /></li>
    <li><MenuWithPanel label="Bibliotek" data-content-id="XXXXDDD" /></li> -->
  </ul>
  <ul class="kth-header__tools">
    <!-- <li>
      <MenuWithPanel icon="search" label="Sök" />
    </li> -->
    <li>
      <a href="/en">English</a>
    </li>
  </ul>
  <div class="kth-header__mega-menu--collapsable">
    <button type="button">Meny</button>
    <dialog>
      <ul>
        <li>
          <a href="/utbildning">Utbildning</a>
          <dialog></dialog>
        </li>
      </ul>
    </dialog>
  </div>
</nav>

<script>
  // KTHStyle.MegaMenu(".kth-header__mega-menu");
  // KTHStyle.MobileMegaMenu(".kth-header__mega-menu--collapsable");
</script>
