---
interface Props {
  label: string;
}

import "../styles/navigation-panel.scss";

const { label } = Astro.props;
---

<div class="kth-search-panel">
  <a href="/search" class="kth-search-panel__dropdown">
    <span>{label}</span>
  </a>
  <dialog></dialog>
</div>
