---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<aside>
  <nav aria-label={label}>
    <button class="kth-menu-item menu collapsable">{label}</button>
    <!-- Dialog only for mobile -->
    <dialog class="kth-mobile-menu left">
      <div class="kth-mobile-menu__navigation">
        <button class="kth-icon-button close">
          <span class="kth-visually-hidden">{t("close")}</span>
        </button>
      </div>
      <slot />
    </dialog>

    <!-- Desktop: non-dialog -->
    <div>
      <slot />
    </div>
  </nav>
</aside>
<script>
  import { MenuPanel } from "@kth/style";

  MenuPanel.initModal(
    document.querySelector("aside .kth-menu-item.collapsable"),
    document.querySelector("aside .kth-mobile-menu"),
  );
</script>
