---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<aside class="kth-sidebar">
  <!-- non-mobile sidebar -->
  <div class="kth-sidebar__content">
    <slot />
  </div>

  <!-- mobile sidebar -->
  <div class="kth-sidebar__content--collapsable">
    <button class="kth-button menu">KTH Style</button>
    <dialog class="kth-mobile-menu left">
      <div class="kth-mobile-menu__navigation">
        <button class="kth-icon-button close">
          <span class="kth-visually-hidden">{t("close")}</span>
        </button>
      </div>
      <slot />
    </dialog>
  </div>
</aside>

<script>
  import { MenuPanel } from "@kth/style";

  MenuPanel.initModal(
    document.querySelector(".kth-sidebar .kth-button.menu"),
    document.querySelector(".kth-sidebar .kth-mobile-menu"),
  );
</script>
