---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

export interface Props {
  label: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { label } = Astro.props;
---

<aside class="kth-sidebar">
  <nav aria-label={label}>
    <div class="kth-sidebar__menu">
      <slot />
    </div>
    <div class="kth-sidebar__menu--collapsable">
      <button class="kth-sidebar__button">{label}</button>
      <dialog class="kth-mobile-menu left">
        <div class="kth-mobile-menu__navigation">
          <button class="kth-icon-button close">
            <span class="kth-visually-hidden">{t("close")}</span>
          </button>
        </div>
        <slot />
      </dialog>
    </div>
  </nav>
</aside>
<script>
  import { MenuPanel } from "@kth/style";

  MenuPanel.initModal(
    document.querySelector("aside .kth-sidebar__button"),
    document.querySelector("aside .kth-mobile-menu"),
  );
</script>
