<aside class="kth-local-navigation">
  <h2>KTH Style</h2>
  <ul>
    <li><a href="/style/en">Om KTH Style</a></li>
    <li>
      <h3>Kom igång</h3>
      <ul>
        <li>
          <a href="/style/en/get-started/developers">
            Kom igång med @kth/style paket
          </a>
        </li>
      </ul>
    </li>
    <li>
      <h3>Styles</h3>
      <ul>
        <li><a href="/style/en/styles/design-tokens">Design tokens</a></li>
        <li><a href="/style/en/styles/colors">Färger</a></li>
        <li><a href="/style/en/styles/typography">Typografi</a></li>
        <li><a href="/style/en/styles/spacing">Marginaler och avstånd</a></li>
      </ul>
    </li>
    <li>
      <h3>Layout and structure</h3>
      <ul>
        <li>
          <a href="/style/en/layout-structure/page-structure">Page structure</a>
        </li>
      </ul>
    </li>
    <li>
      <h3>Komponenter</h3>
      <ul>
        <li><a href="/style/en/components/header">Huvud</a></li>
        <li>
          <a href="/style/en/components/header__logotype">
            Logotyp (för huvudet)
          </a>
        </li>
        <li>
          <a href="/style/en/components/header__mega-menu">
            Mega-meny (för huvudet)
          </a>
        </li>
        <li>
          <a href="/style/en/components/header__tools">
            Verktyg (för huvudet)
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
