---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<aside>
  <nav aria-label="KTH Style">
    <button class="kth-menu-item menu collapsable">KTH Style</button>
    <!-- Dialog only for mobile -->
    <dialog class="kth-mobile-menu left">
      <div class="kth-mobile-menu__navigation">
        <button class="kth-icon-button close">
          <span class="kth-visually-hidden">{t("close")}</span>
        </button>
      </div>
       ...
    </dialog>

    <!-- Desktop: non-dialog -->
    <div>
      <h2>KTH Style</h2>
       ...
    </div>
  </nav>
</aside>
<script>
  import { MenuPanel } from "@kth/style";

  MenuPanel.initModal(
    document.querySelector("aside .kth-menu-item.collapsable"),
    document.querySelector("aside .kth-mobile-menu"),
  );
</script>
