<aside class="kth-local-navigation">
  <h2>KTH Style</h2>
  <ul>
    <li><a href="/style/en">KTH Style home</a></li>
    <li>
      <h3>Get started</h3>
      <ul>
        <li><a href="/style/en/get-started/developers">Developers</a></li>
      </ul>
    </li>
    <li>
      <h3>Styles</h3>
      <ul>
        <li><a href="/style/en/styles/design-tokens">Design tokens</a></li>
        <li><a href="/style/en/styles/colors">Colors</a></li>
        <li><a href="/style/en/styles/typography">Typography</a></li>
        <li><a href="/style/en/styles/spacing">Spacing</a></li>
      </ul>
    </li>
    <li>
      <h3>Layout and structure</h3>
      <ul>
        <li>
          <a href="/style/en/layout-structure/page-structure">Page structure</a>
        </li>
      </ul>
    </li>
    <li>
      <h3>Components</h3>
      <ul>
        <li><a href="/style/en/components/header">Header</a></li>
        <li><a href="/style/en/components/logotype">Logotype</a></li>
        <li><a href="/style/en/components/mega-menu">Mega-menu</a></li>
        <li>
          <a href="/style/en/components/menu-items">Menu item and menu panel</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
