<aside class="kth-local-navigation">
  <h2>KTH Style</h2>
  <ul>
    <li><a href="">Om KTH Style</a></li>
    <li>
      <h3>Kom igång</h3>
      <ul>
        <li><a href="">Design av app utifrån KTH Style</a></li>
        <li><a href="">Övergripande riktlinjer</a></li>
      </ul>
    </li>
    <li>
      <h3>Användbarhetstester</h3>
      <ul>
        <li><a href="">Testa användbarhet och tillgänglighet</a></li>
        <li><a href="">Utrusning och inställningar för tester</a></li>
      </ul>
    </li>
    <li>
      <h3>Styles</h3>
      <ul>
        <li><a href="/en/styles/colors">Färger</a></li>
        <li><a href="">Typografi</a></li>
        <li><a href="">Marginaler och avstånd</a></li>
        <li><a href="">Bilder och dokument</a></li>
        <li><a href="">Struktur och layout</a></li>
        <li><a href="">Ikoner</a></li>
      </ul>
    </li>
    <li>
      <h3>Komponenter</h3>
      <ul>
        <li><a href="">Alerts</a></li>
        <li><a href="">Collapse</a></li>
        <li><a href="">Formulär</a></li>
        <li><a href="">Knappar</a></li>
        <li><a href="">Länkar</a></li>
        <li><a href="">Listor</a></li>
        <li><a href="">Modaler</a></li>
        <li><a href="">Tabbar</a></li>
        <li><a href="">Tabeller</a></li>
        <li><a href="">Tooltips</a></li>
      </ul>
    </li>
  </ul>
</aside>
