<aside class="kth-local-navigation">
  <h2>KTH Style</h2>
  <ul>
    <li><a href="/style/en">Om KTH Style</a></li>
    <li><a href="/style/en/background">Bakgrund</a></li>
    <li>
      <h3>Kom igång</h3>
      <ul>
        <li>
          <a href="/style/en/get-started/design">
            Design av app utifrån KTH Style
          </a>
        </li>
        <li>
          <a href="/style/en/get-started/guidelines">Övergripande riktlinjer</a>
        </li>
        <li>
          <a href="/style/en/get-started/developers"
            >Kom igång med @kth/style paket</a
          >
        </li>
      </ul>
    </li>
    <li>
      <h3>Användbarhetstester</h3>
      <ul>
        <li><a>Testa användbarhet och tillgänglighet</a></li>
        <li><a>Utrusning och inställningar för tester</a></li>
      </ul>
    </li>
    <li>
      <h3>Styles</h3>
      <ul>
        <li><a href="/style/en/styles/design-tokens">Design tokens</a></li>
        <li><a href="/style/en/styles/colors">Färger</a></li>
        <li><a href="/style/en/styles/typography">Typografi</a></li>
        <li><a href="/style/en/styles/spacing">Marginaler och avstånd</a></li>
        <li><a>Bilder och dokument</a></li>
        <li><a href="/style/en/styles/layout">Struktur och layout</a></li>
        <li><a href="/style/en/styles/icons">Ikoner</a></li>
      </ul>
    </li>
    <li>
      <h3>Komponenter</h3>
      <ul>
        <li><a>Alerts</a></li>
        <li>
          <a href="/style/en/components/details">Details (tidigare Collapse)</a>
        </li>
        <li><a href="/style/en/components/input">Text inmätningsfält</a></li>
        <li><a href="/style/en/components/button">Knappar</a></li>
        <li><a>Länkar</a></li>
        <li><a>Listor</a></li>
        <li><a>Modaler</a></li>
        <li><a>Tabbar</a></li>
        <li><a>Tabeller</a></li>
        <li><a href="/style/en/components/select">Select</a></li>
        <li><a href="/style/en/components/radio">Radio</a></li>
        <li><a href="/style/en/components/checkbox">Checkbox</a></li>
      </ul>
    </li>
  </ul>
</aside>
