---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/header.scss";
import "@kth/style/scss/components/menu-item.scss";
import "@kth/style/scss/components/mega-menu.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="kth-header external">
      <div class="kth-header__container">
        <nav class="kth-mega-menu">
          <ul>
            <li>
              <a href="#" class="kth-menu-item dropdown"> Item 1</a>
            </li>
            <li>
              <a href="#" class="kth-menu-item dropdown"> Item 2</a>
            </li>
            <li>
              <a href="#" class="kth-menu-item dropdown"> Item 3</a>
            </li>
            <li>
              <a href="#" class="kth-menu-item dropdown"> Item 4</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <p>
      This example only works in big screens.
      <a href="" target="_blank">Open this frame in a new tab</a>
    </p>
  </body>
</html>
