---
// Use this to import CSS into here
// import "../css"

import MegaMenu from "../components/MegaMenu.astro";
---

<html>
  <body>
    <header>
      <figure><!--logo --></figure>
      <MegaMenu />
    </header>
  </body>
</html>
