---
// Use this to import CSS into here
// import "../css"
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logotype from "../images/logo.png";
import NavigationPanel from "../components/NavigationPanel.astro";
import SearchPanel from "../components/SearchPanel.astro";
---

<Layout title="KTH Style">
  <div class="kpm">
    <div class="kpm__container">
      <nav class="kpm__entries" aria-label="Ingångar">
        <ul>
          <li><a href="https://kth.se">kth.se</a></li>
          <li><a href="https://kth.se/student">Studentwebben</a></li>
          <li>
            <a href="https://intra.kth.se" aria-current="true">Intranät</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <header class="kth-main-header intranet">
    <div class="kth-main-header__container">
      <figure class="kth-main-header__logotype">
        <Image src={logotype} alt="KTH:s Logotyp" />
      </figure>
      <nav class="kth-main-header__mega-menu">
        <ul>
          <li>
            <NavigationPanel label="Din anställning" />
          </li>
          <li>
            <NavigationPanel label="Stöd och service" />
          </li>
          <li>
            <NavigationPanel label="Utbilda" />
          </li>
          <li>
            <NavigationPanel label="Forska" />
          </li>
          <li>
            <NavigationPanel label="Orgasnisation och styrning" />
          </li>
        </ul>
      </nav>

      <ul class="kth-main-header__tools">
        <li>
          <SearchPanel label="Sök" />
        </li>
        <li>
          <a class="kth-link--language">
            <span>English</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="kth-main-header__mega-menu--collapsable">M</div>
  </header>
  <!-- <MegaMenu /> -->

  <div class="kth-main-content">
    <nav aria-label="Brödsmulor">Brödsmulor</nav>
    <aside class="kth-submenu">
      <h2 class="kth-label-2">KTH Style</h2>
      <ul class="kth-link-list">
        <li><a href="">Om KTH Style</a></li>
        <li>
          <h3 class="kth-label-3">Kom igång</h3>
          <ul class="kth-link-list">
            <li><a href="">Design av app utifrån KTH Style</a></li>
            <li><a href="">Övergripande riktlinjer</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Användbarhetstester</h3>
          <ul class="kth-link-list">
            <li><a href="">Testa användbarhet och tillgänglighet</a></li>
            <li><a href="">Utrusning och inställningar för tester</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Styles</h3>
          <ul class="kth-link-list">
            <li><a href="/en//styles/colors">Färger</a></li>
            <li><a href="">Typografi</a></li>
            <li><a href="">Marginaler och avstånd</a></li>
            <li><a href="">Bilder och dokument</a></li>
            <li><a href="">Struktur och layout</a></li>
            <li><a href="">Ikoner</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Komponenter</h3>
          <ul class="kth-link-list">
            <li><a href="">Alerts</a></li>
            <li><a href="">Collapse</a></li>
            <li><a href="">Formulär</a></li>
            <li><a href="">Knappar</a></li>
            <li><a href="">Länkar</a></li>
            <li><a href="">Listor</a></li>
            <li><a href="">Modaler</a></li>
            <li><a href="">Tabbar</a></li>
            <li><a href="">Tabeller</a></li>
            <li><a href="">Tooltips</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main>Huvudinnehåll</main>
  </div>
</Layout>
