---
// Use this to import CSS into here
// import "../css"

import MegaMenu from "../components/MegaMenu.astro";
---

<html>
  <body>
    <header>
      <figure><!--logo --></figure>
      <MegaMenu />
    </header>
    <ul>
      <li>Getting started</li>
      <li>Styles</li>
      <li>Components</li>
      <li>Concepts</li>
    </ul>
  </body>
</html>
