---
// Use this to import CSS into here
// import "../css"
import "../styles/index.scss";
import MegaMenu from "../components/MegaMenu.astro";
import Layout from "../layouts/Layout.astro";
import CaretDown from "../components/icons/CaretDown.astro";
import SearchIcon from "../components/icons/Search.astro";
import LanguageIcon from "../components/icons/Language.astro";
---

<Layout title="KTH Style">
  <div class="kpm">
    <div class="kpm__container">
      <nav class="kpm__entries" aria-label="Ingångar">
        <ul>
          <li><a href="https://kth.se">kth.se</a></li>
          <li><a href="https://kth.se/student">Studentwebben</a></li>
          <li>
            <a href="https://intra.kth.se" aria-current="true">Intranät</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <header class="kth-main-header">
    <div class="kth-main-header__container">
      <figure class="kth-main-header__logotype">
        <img src="/public/logo.png" width="64" height="64" />
      </figure>
      <nav class="kth-main-header__mega-menu">
        <ul>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Din anställning</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Stöd och service</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Utbilda</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Forska</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Organisation och styrning</span>
              <CaretDown />
            </a>
          </li>
        </ul>
      </nav>
      <ul class="kth-main-header__tools">
        <li>
          <button class="kth-dropdown">
            <SearchIcon />
            <span>Sök</span>
          </button>
        </li>
        <li>
          <a class="kth-dropdown">
            <LanguageIcon />
            <span>English</span>
          </a>
        </li>
      </ul>
      <div class="kth-main-header__mega-menu--collapsable">M</div>
    </div>
    <!-- <MegaMenu /> -->
  </header>
  <div class="kth-main-content">
    <nav>Brödsmulor</nav>
    <aside>Under-meny</aside>
    <main>Huvudinnehåll</main>
  </div>
  <ul>
    <li>Getting started</li>
    <li>Styles</li>
    <li>Components</li>
    <li>Concepts</li>
  </ul>
</Layout>
