---
// Use this to import CSS into here
// import "../css"
import "../styles/index.scss";
import MegaMenu from "../components/MegaMenu.astro";
import Layout from "../layouts/Layout.astro";
import CaretDown from "../components/icons/CaretDown.astro";
import SearchIcon from "../components/icons/Search.astro";
import LanguageIcon from "../components/icons/Language.astro";
---

<Layout title="KTH Style">
  <div class="kpm">
    <div class="kpm__container">
      <nav class="kpm__entries" aria-label="Ingångar">
        <ul>
          <li><a href="https://kth.se">kth.se</a></li>
          <li><a href="https://kth.se/student">Studentwebben</a></li>
          <li>
            <a href="https://intra.kth.se" aria-current="true">Intranät</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <header class="kth-main-header">
    <div class="kth-main-header__container">
      <figure class="kth-main-header__logotype">
        <img src="/public/logo.png" width="64" height="64" />
      </figure>
      <nav class="kth-main-header__mega-menu">
        <ul>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Din anställning</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Stöd och service</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Utbilda</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Forska</span>
              <CaretDown />
            </a>
          </li>
          <li>
            <a href="/link 1" class="kth-dropdown">
              <span>Organisation och styrning</span>
              <CaretDown />
            </a>
          </li>
        </ul>
      </nav>
      <ul class="kth-main-header__tools">
        <li>
          <button class="kth-dropdown">
            <SearchIcon />
            <span>Sök</span>
          </button>
        </li>
        <li>
          <a class="kth-dropdown">
            <LanguageIcon />
            <span>English</span>
          </a>
        </li>
      </ul>
      <div class="kth-main-header__mega-menu--collapsable">M</div>
    </div>
    <!-- <MegaMenu /> -->
  </header>
  <div class="kth-main-content">
    <nav aria-label="Brödsmulor">Brödsmulor</nav>
    <aside class="kth-submenu">
      <h2 class="kth-label-2">KTH Style</h2>
      <ul class="kth-link-list">
        <li><a href="">Om KTH Style</a></li>
        <li>
          <h3 class="kth-label-3">Kom igång</h3>
          <ul class="kth-link-list">
            <li><a href="">Design av app utifrån KTH Style</a></li>
            <li><a href="">Övergripande riktlinjer</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Användbarhetstester</h3>
          <ul class="kth-link-list">
            <li><a href="">Testa användbarhet och tillgänglighet</a></li>
            <li><a href="">Utrusning och inställningar för tester</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Styles</h3>
          <ul class="kth-link-list">
            <li><a href="/styles/colors">Färger</a></li>
            <li><a href="">Typografi</a></li>
            <li><a href="">Marginaler och avstånd</a></li>
            <li><a href="">Bilder och dokument</a></li>
            <li><a href="">Struktur och layout</a></li>
            <li><a href="">Ikoner</a></li>
          </ul>
        </li>
        <li>
          <h3 class="kth-label-3">Komponenter</h3>
          <ul class="kth-link-list">
            <li><a href="">Alerts</a></li>
            <li><a href="">Collapse</a></li>
            <li><a href="">Formulär</a></li>
            <li><a href="">Knappar</a></li>
            <li><a href="">Länkar</a></li>
            <li><a href="">Listor</a></li>
            <li><a href="">Modaler</a></li>
            <li><a href="">Tabbar</a></li>
            <li><a href="">Tabeller</a></li>
            <li><a href="">Tooltips</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main>Huvudinnehåll</main>
  </div>
</Layout>
