@use "../tokens/spacing.scss";
@use "../tokens/icons.scss";
@use "../tokens/typography.scss";
@use "../tokens/colors" as c;

$border-inline: spacing.$space-2;
$padding-inline: calc(spacing.$space-12 - $border-inline);

@layer kth-style {
  .kth-alert {
    display: grid;
    gap: spacing.$space-4 spacing.$space-8;
    grid-template-columns: auto 1fr;
    padding-inline: $padding-inline;
    padding-block-start: spacing.$space-8;
    padding-block-end: spacing.$space-16;

    border-block-start-width: spacing.$space-6;
    border-inline-width: $border-inline;
    border-block-end-width: $border-inline;
    border-style: solid;
    border-color: c.var(--color-text);

    &:before {
      background-color: c.var(--color-text);
      grid-column-start: 1;
      align-self: center;
    }

    &.info {
      border-color: c.var(--color-primary);

      &::before {
        @include icons.icon-info-500;
      }
    }

    &.warning {
      border-color: c.var(--color-error);

      &::before {
        @include icons.icon-warning-500;
      }
    }

    &.success {
      border-color: c.var(--color-success);

      &::before {
        @include icons.icon-check-500;
      }
    }

    > * {
      grid-column-start: 2;
    }

    > :is(h2, h3, h4) {
      @include typography.font-default;
      font-weight: 600;
    }

    p {
      margin-block: spacing.$space-8;
    }

    p:first-child {
      margin-block-start: 0;
    }

    p:last-child {
      margin-block-end: 0;
    }
  }
}
