@use "../tokens/spacing";
@use "../tokens/icons";

@layer kth-style {
  // Buttons with only icon:
  .kth-button.close {
    --icon-size: calc(#{spacing.$space-24} + 2 * var(--space-inner-icon));
    display: flex;
    background: transparent;
    border: none;
    padding: var(--space-inner-icon);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 100%;
  }

  .kth-button.close::before {
    @include icons.icon-close;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
  }
}
