@use "../globals.scss" as g;
@use "./Button.scss";
@use "./LinkList.scss";

.#{g.$prefix}-dropdown {
  min-width: g.rem(160);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;

  .container {
    background: g.$white;
    border: g.rem(1) solid g.$gray-2;
    padding: g.rem(16);
  }

  .group {
    margin-block-end: g.rem(16);
  }

  .group-label {
    font-weight: 600;
    margin-block-start: g.rem(4);
    margin-block-end: g.rem(2);
  }
}
