@use "../globals.scss" as g;
@use "./Button.scss";

.#{g.$prefix}-dropdown {
  max-width: 100vw;
  max-height: 100vh;

  .container {
    background: #fff;
    border: 1px solid gray;
  }

  .group-name {
    //
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
  }
}
