@use "../tokens/spacing.scss";
@use "../tokens/colors.scss";
@use "../utils/mixins.scss";

@layer kth-style {
  nav.kth-entrances {
    > ul {
      @include mixins.horizontal-list();
      gap: spacing.$space-4;
    }

    // Special case for "kth.se" link.
    // It has a fixed width
    a:not([href*="intra"], [href*="student"]) {
      // TODO: this "4rem" should be a token (logotype width)
      inline-size: 4rem;
      justify-content: center;
    }

    a[href*="intra"],
    a[href*="student"] {
      padding-inline: spacing.$space-8;
    }

    a:not([href*="intra"], [href*="student"])[aria-current="true"] {
      background: colors.$color-blue-kth;
      --color-primary: #{colors.$color-white};
    }

    a[href*="student"][aria-current="true"] {
      background: colors.$color-blue-light;
      --color-primary: #{colors.$color-blue-kth};
    }

    a[href*="intra"][aria-current="true"] {
      background: colors.$color-sand;
      --color-primary: #{colors.$color-blue-kth};
    }
  }

  .kth-entrances__modal {
    > ul {
      margin: 0;
      padding-inline: 0;
      padding-block-start: spacing.$space-32;

      list-style: none;
      display: flex;
      flex-direction: column;
      gap: spacing.$space-24;
    }
  }
}
