@use "../tokens/colors.scss" as c;
@use "../tokens/spacing.scss";
@use "../utils/mixins.scss";
@use "../tokens/typography";
@use "../tokens/sizing.scss";

@layer kth-style {
  .kth-footer.intranet {
    @include c.theme-intranet;
  }

  .kth-footer.external {
    @include c.theme-inverse;
  }

  .kth-footer.student-web {
    @include c.theme-student-web;
  }

  .kth-footer {
    background: c.var(--color-background);
    color: c.var(--color-text);

    &__content {
      @include mixins.container;
      padding-top: spacing.$space-32;
      padding-bottom: spacing.$space-32;

      .columnSplitter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: spacing.$space-48;

        @media (max-width: sizing.$breakpoint-64) {
          display: block;
          column-count: 2;

          .col {
            break-inside: avoid-column;
            width: 100%;

            &:not(:first-child) {
              margin-top: spacing.$space-32;
            }
          }
        }

        .col .block:not(:first-child) {
          margin-top: spacing.$space-32;
        }
      }

      h2 {
        @include typography.font-heading-s;
        margin: 0 0 spacing.$space-8;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li:not(:last-child) {
          margin-bottom: spacing.$space-16;
        }
      }
    }
  }
}
