@use "../tokens/colors.scss";
@use "../tokens/spacing.scss";
@use "../utils/mixins.scss";

@layer kth-style {
  .kth-header.intranet {
    @include colors.theme-intranet;
    .kth-logotype img.white {
      display: none;
    }
  }
  .kth-header.external {
    @include colors.theme-inverse;
    .kth-logotype img.blue {
      display: none;
    }
  }
  .kth-header.student-web {
    @include colors.theme-student-web;
    .kth-logotype img.white {
      display: none;
    }
  }

  .kth-header {
    color: var(--color-text);
    background: var(--color-background);
    padding-block: spacing.$space-16;
    position: relative;
    margin-block-start: 2.5rem;

    &__container {
      @include mixins.container;
      display: flex;
      align-items: center;
    }

    &__tools {
      @include mixins.horizontal-list();
      flex-wrap: wrap;
      gap: 0 spacing.$space-16;
      justify-content: flex-end;
      margin-inline-start: auto;
    }

    &__mega-menu--collapsable {
      display: none;
    }
  }
}
