@use "../utils/mixins.scss";
@use "../tokens/spacing.scss";
@use "../tokens/colors.scss";
@use "../tokens/sizing.scss";

@layer kth-style {
  .kth-kpm {
    background: var(--color-background, colors.$color-white);
    width: 100%;

    &__container {
      @include mixins.container;
      display: flex;
    }
  }

  .kth-entrances {
    > ul {
      @include mixins.horizontal-list();
      gap: spacing.$space-4;
    }

    // Special case for "kth.se" link.
    // It has a fixed width
    a:not([href*="intra"], [href*="student"]) {
      // TODO: this "4rem" should be a token (logotype width)
      inline-size: 4rem;
      justify-content: center;
    }

    a[href*="intra"],
    a[href*="student"] {
      padding-inline: spacing.$space-8;
    }

    a[aria-current="true"] {
      background: var(--color-header, transparent);
    }

    a:not([href*="intra"], [href*="student"])[aria-current="true"] {
      @include colors.theme-inverse;
    }

    a[href*="student"][aria-current="true"] {
      @include colors.theme-student-web;
    }

    a[href*="intra"][aria-current="true"] {
      @include colors.theme-intranet;
    }
  }

  // When logged out, show "mobile" version only in small screens
  // Styling for kpm and entrances when logged in is handled by KPM
  .kth-entrances {
    display: none;
  }

  @media screen and (min-width: sizing.$breakpoint-30) {
    .kth-entrances {
      display: block;
    }

    .kth-entrances-expandable {
      display: none;
    }
  }
}
