@use "../globals.scss" as g;
@use "../variants";

.#{g.$prefix}-link-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    padding-block: var(--interactive-padding-block, 0);
    display: block;
  }
}
