@use "../globals.scss" as g;
@use "../variants";

.#{g.$prefix}-link-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    box-sizing: border-box;
    min-height: var(--#{g.$prefix}-ui-min-height);
    min-width: var(--#{g.$prefix}-ui-min-width);
    padding-block: var(--#{g.$prefix}-ui-padding-block, 0);
    display: flex;
    align-items: center;
  }
}
