@use "../tokens/colors.scss";
@use "../tokens/spacing.scss";
@use "../utils/mixins.scss";

.kth-main-header.intranet {
  @include colors.theme-intranet;

  .kth-main-header__logotype .white {
    display: none;
  }
}
.kth-main-header.external {
  @include colors.theme-inverse;

  .kth-main-header__logotype .blue {
    display: none;
  }
}
.kth-main-header.student-web {
  @include colors.theme-student-web;

  .kth-main-header__logotype .white {
    display: none;
  }
}

.kth-main-header {
  background: var(--color-background);
  padding-block: spacing.padding(16);
  // position: relative;

  &__container {
    @include mixins.container;
    display: flex;
    align-items: center;
  }

  &__logotype {
    block-size: 4rem;
    inline-size: 4rem;
    border: none;
    margin: 0;
    margin-inline-end: spacing.margin(32);
    padding: 0;

    // Defensive measurement:
    // - We prevent logo from shrinking
    flex: 0 0 auto;

    figure {
      block-size: 100%;
      inline-size: 100%;
    }

    img {
      block-size: 100%;
      inline-size: 100%;
    }
  }

  &__mega-menu {
    > ul {
      @include mixins.horizontal-list();

      // Defensive measurements:
      // - `flex-wrap: wrap` makes sure that all menus are displayed decently
      // - `0` in gap (block axis) makes sure that menu spacing is ok all the time
      flex-wrap: wrap;
      gap: 0 spacing.$space-16;
    }
  }

  &__tools {
    @include mixins.horizontal-list();
    flex-wrap: wrap;
    gap: 0 spacing.$space-16;
    justify-content: flex-end;
    margin-inline-start: auto;
  }

  &__mega-menu--collapsable {
    display: none;
  }
}

@media (width < 64rem) {
  .kth-main-header__logotype {
    margin-inline-end: 0;
  }

  .kth-main-header__mega-menu {
    display: none;
  }

  .kth-main-header__mega-menu--collapsable {
    display: block;
  }
}
