@use "../tokens/spacing";
@use "../tokens/icons";
@use "../tokens/sizing";

@layer kth-style {
  .kth-menu-item {
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: spacing.$space-4;

    // Fixes for buttons:
    border: none;
    background: none;
    padding: 0;

    span {
      padding-block: spacing.$space-8;
      padding-block-end: spacing.$space-4;
      border-bottom: transparent spacing.$space-4 solid;
    }

    &.collapsable {
      margin-inline-start: spacing.$space-16;
    }

    @media (min-width: sizing.$breakpoint-64) {
      &.collapsable {
        display: none;
      }
    }

    &:hover span {
      border-color: var(--color-primary);
    }

    &.dropdown::after {
      @include icons.icon-caret-down;
      background-color: var(--color-primary);
    }
    &.search::before {
      @include icons.icon-search;
      background-color: var(--color-primary);
    }
    &.language::before {
      @include icons.icon-language;
      background-color: var(--color-primary);
    }
    &.menu::before {
      @include icons.icon-menu;
      background-color: var(--color-primary);
    }
  }
}
