@use "../tokens/spacing";
@use "../tokens/typography";
@use "../tokens/icons";
@use "../utils/mixins";

@layer kth-style {
  .kth-menu-panel {
    top: 100%;
    width: 100%;
    border: none;
    background: var(--color-background);
    padding: spacing.$space-48 0;
    color: var(--color-text);

    &__container {
      @include mixins.container;

      &.search {
        display: flex;
        flex-direction: column;

        .kth-icon-button {
          align-self: end;
        }
      }
    }

    &__header {
      width: 100%;
      padding: 0 0 spacing.$space-32;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h2 {
        @include typography.font-heading-m;
        margin-bottom: spacing.$space-4;
      }
    }

    &__content {
      .columnSplitter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: spacing.$space-48;

        .col .block:not(:first-child) {
          margin-top: spacing.$space-32;
        }
      }

      h3 {
        @include typography.font-heading-s;
        margin: 0 0 spacing.$space-8;
      }

      ul {
        padding: 0;
        list-style-type: none;

        li:not(:last-child) {
          margin-bottom: spacing.$space-16;
        }
      }
    }
  }
}
