@use "../tokens/spacing";
@use "../tokens/icons";
@use "../tokens/sizing";
@use "../tokens/colors";

@layer kth-style {
  .kth-menu-item {
    color: var(--color-primary, colors.$color-blue-kth);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: spacing.$space-4;
    padding: 0;
    padding-block: spacing.$space-8;

    // Fixes for buttons:
    border: none;
    background: none;

    &.collapsable {
      margin-inline-start: spacing.$space-16;
    }

    @media (min-width: sizing.$breakpoint-64) {
      &.collapsable {
        display: none;
      }
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: spacing.$space-4;
      text-underline-offset: spacing.$space-8;
    }

    &.dropdown::after {
      @include icons.icon-caret-down;
      background-color: var(--color-primary, colors.$color-blue-kth);
    }
    &.search::before {
      @include icons.icon-search;
      background-color: var(--color-primary, colors.$color-blue-kth);
    }
    &.language::before {
      @include icons.icon-language;
      background-color: var(--color-primary, colors.$color-blue-kth);
    }
    &.menu::before {
      @include icons.icon-menu;
      background-color: var(--color-primary, colors.$color-blue-kth);
    }
  }
}
