@use "../tokens/colors.scss";
@use "../tokens/spacing.scss";
@use "../utils/mixins.scss";
@use "../tokens/typography";
@use "../tokens/sizing.scss";
@use "../tokens/icons";
@layer kth-style {
  .kth-local-navigation {
    .nav--parentLink {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iYSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGQ9Ik0xNiw2Ljk5djIuMDJIMy44OGw1LjU2LDUuNTYtMS40MywxLjQzTDAsOCw4LDBsMS40MywxLjQzTDMuODgsNi45OWgxMi4xMloiIHN0eWxlPSJmaWxsOiMwMDZjYjc7Ii8+Cjwvc3ZnPg==)
        left/0.875rem 0.875rem no-repeat;
      a {
        padding-left: 1.313rem;
      }
    }

    .nav-item {
      .nav-head {
        margin-block-start: 0;
        font-weight: 400;
        &.nav-head--selected {
          .nav-link {
            pointer-events: none;
            color: var(--color-black);
            font-weight: 600;
            &::after {
              background-color: unset;
            }
          }
        }
        &.nav-head--leaf {
          .nav-link {
            &::after {
              background-color: unset;
            }
          }
        }
        .nav-link {
          display: flex;
          justify-content: space-between;
          width: 100%;
          &::after {
            @include icons.icon-caret-right;
            background-color: var(--color-tertiary);
            align-self: center;
            cursor: pointer;
          }
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
            color: var(--color-tertiary);
          }
        }
      }

      &.nav-item--expanded {
        display: block;
        padding-left: spacing.$space-8;
      }

      &.nav-item--selected {
        display: block;
        padding: 8px 0px 8px 16px;
        border-left: var(--color-primary) spacing.$space-4 solid;
      }
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: var(--color-tertiary);
      }
    }
  }
}
