@use "../tokens/colors.scss";
@use "../tokens/spacing.scss";
@use "../utils/mixins.scss";
@use "../tokens/typography";
@use "../tokens/sizing.scss";
@use "../tokens/icons";
@layer kth-style {
  .kth-local-navigation {
    .nav {
      li {
        .nav-home-link {
          &.selected {
            display: block;
            padding: var(--sizes-space-8, 8px) var(--sizes-space-0, 0px)
              var(--sizes-space-8, 8px) var(--sizes-space-16, 16px);
            border-left: var(--color-primary) spacing.$space-4 solid;
          }
        }
        .nav-list {
          display: block;

          .nav-head {
            color: var(--color-tertiary);
            font-weight: 400;

            &.selected {
              pointer-events: none;
              color: var(--color-black);
              font-weight: 600;
              .nav-head-link {
                &::after {
                  background-color: white;
                }
              }
            }

            .nav-head-link {
              display: flex;
              justify-content: space-between;
              color: var(--color-black);
              width: 100%;
              &::after {
                @include icons.icon-caret-right;
                background-color: var(--color-tertiary);
                align-self: center;
                cursor: pointer;
              }
            }
          }

          .nav-item {
            display: none;

            &.expanded {
              display: block;
              padding-left: spacing.$space-8;
              padding: var(--sizes-space-8, 8px) var(--sizes-space-0, 0px)
                var(--sizes-space-8, 8px) var(--sizes-space-20, 20px);

              &.selected {
                display: block;
                padding: var(--sizes-space-8, 8px) var(--sizes-space-0, 0px)
                  var(--sizes-space-8, 8px) var(--sizes-space-16, 16px);
                border-left: var(--color-primary) spacing.$space-4 solid;
              }
            }
          }
        }
      }
    }
  }
}
