@use "../globals.scss" as g;

// TODO: refactor "1px solid g.$black" somehow
$border-secondary: 1px solid g.$black;
@mixin secondary {
  border-bottom: $border-secondary;

  > li > a[role="tab"] {
    color: g.$black;
    border-left: $border-secondary;
    border-right: $border-secondary;
    border-top: $border-secondary;
    border-radius: g.rem(8 8 0 0);
    display: block;
    white-space: nowrap;

    &[aria-selected="false"] {
      background: g.$gray-300;
      padding: g.rem(8 16);
    }

    &[aria-selected="true"] {
      background: g.$white;
      padding: g.rem(16 16 8 16);
      margin-bottom: -1px;
      border-bottom: 1px solid g.$white;
    }
  }
}

.#{g.$prefix}-tab-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-items: end;
  gap: g.rem(4);
  overflow-x: auto;
  scrollbar-gutter: stable;

  &.secondary {
    @include secondary();
  }
}
