@use "../globals.scss" as g;

// TODO: refactor "1px solid g.$black" somehow
$border-secondary: 1px solid g.$black;

@mixin secondary {
  padding: 4px;
  ul[role="tablist"] {
    min-width: 100%;
    border-bottom: $border-secondary;
  }

  a[role="tab"] {
    color: g.$black;
    border-left: $border-secondary;
    border-right: $border-secondary;
    border-top: $border-secondary;
    border-radius: g.rem(8 8 0 0);
    margin-bottom: -1px;
    padding-inline: g.rem(16);

    &[aria-selected="false"] {
      background: g.$gray-2;
      padding-block: 9px;
      border-bottom: $border-secondary;
    }

    &[aria-selected="true"] {
      background: g.$white;
      padding-block-start: 17px;
      padding-block-end: 9px;
      border-bottom: 1px solid g.$white;
    }
  }
}

@mixin tertiary {
  padding: 4px;

  ul[role="tablist"] {
    min-width: 100%;
    border-bottom: $border-secondary;
  }

  a[role="tab"] {
    padding-inline: g.rem(16);
    margin-bottom: -1px;

    &[aria-selected="false"] {
      color: g.$black;
      padding-block: 10px;
    }

    &[aria-selected="true"] {
      padding-block-start: 10px;
      padding-block-end: 7px;
      border-bottom: 3px solid g.$blue-5;
    }
  }
}

.#{g.$prefix}-tab-list {
  overflow: auto;

  ul[role="tablist"] {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    align-items: end;
    gap: g.rem(4);
  }

  a[role="tab"] {
    white-space: nowrap;
    display: block;
    white-space: nowrap;
  }

  &.secondary {
    @include secondary();
  }

  &.tertiary {
    @include tertiary();
  }
}
