// 1. Colors
$color-neutral-10: #000;
$color-neutral-6: #65656c;
$color-neutral-2: #d4d4d4;
$color-neutral-1: #f6f6f6;
$color-neutral-0: #fff;

$color-primary-6: #006388;
$color-primary-5: #007fae;

$color-success-6: #3f6600;
$color-success-5: #528400;
$color-success-1: #dff0d8;

$color-danger-61: #b52c17;
$color-danger-60: #d4351c;
$color-danger-1: #f5e6e6;

$color-warning-3: #fab919;
$color-warning-1: #fcf8e3;
