// 2. Typography

// Base tokens
// All allowed single values for different properties
// Name convention: `font-<property>-identifier`
$font-family-sans: "Open Sans", sans-serif;
$font-family-serif: Georgia, serif;

// 2.2. Font sizes
$font-size-base: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.875rem;
$font-size-3xl: 2.75rem;

// 2.3. Line heights
$font-lh-base: 1.5rem;
$font-lh-l: 2rem;
$font-lh-xl: 2.25rem;
$font-lh-2xl: 3rem;
$font-lh-3xl: 4rem;

// 2.4. Font weights
$font-weight-normal: 400;
$font-weight-bold: 600;

// 2.5. Combinations of font size, line height and font weight
@mixin font-h1 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-3xl;
  line-height: t.$font-lh-3xl;
}

@mixin font-h2 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-2xl;
  line-height: t.$font-lh-2xl;
}

@mixin font-h3 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-xl;
  line-height: t.$font-lh-xl;
}

@mixin font-h4 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-l;
  line-height: t.$font-lh-l;
}

@mixin font-h5 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-base;
  line-height: t.$font-lh-base;
}

@mixin font-body-copy {
  font-family: $font-serif;
  font-weight: 400;
  font-size: g.rem(18);
  line-height: g.rem(28);
}

@mixin font-body-lead {
  font-family: $font-serif;
  font-weight: 400;
  font-size: g.rem(22);
  line-height: g.rem(32);
}
