// Gray-scale
$color-white: #fcfcfc;
$color-black: #212121;
$color-gray-light: #e6e6e6;
$color-gray-medium: #a5a5a5;
$color-gray-dark: #323232;

// Colors defined by "Varumärkesgruppen"
$color-sand: #e6e1dd;
$color-blue-kth: #004791;
$color-blue-light: #e0edfc;
$color-blue-sky: #6298d2;
$color-blue-lake: #036eb8; // This is defined by us for links
$color-blue-marine: #08004f;
$color-blue-digital: #221dd9;

// Other colors, defined by us to meet various needs
$color-red-light: #fad6d6;
$color-red: #d8351e;
$color-red-dark: #bf2c17;
$color-green-light: #d8ffe7;
$color-green: #3f824e;
$color-green-dark: #366f43;

$color-black-20: rgba(33, 33, 33, 0.2);
$color-white-20: rgba(252, 252, 252, 0.2);

@mixin theme-default {
  --color-text: #{$color-black};
  --color-background: #{$color-white};
  --color-primary: #{$color-blue-kth};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-tertiary: #{$color-blue-lake};
  --color-error: #{$color-red};
  --color-success: #{$color-green};
  --color-hover-overlay: #{$color-black-20};
}

@mixin theme-student-web {
  --color-text: #{$color-black};
  --color-background: #{$color-blue-light};
  --color-primary: #{$color-blue-kth};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-tertiary: #{$color-blue-lake};
  --color-error: #{$color-red-dark};
  --color-success: #{$color-green-dark};
  --color-hover-overlay: #{$color-black-20};
}

@mixin theme-intranet {
  --color-text: #{$color-black};
  --color-background: #{$color-sand};
  --color-primary: #{$color-blue-kth};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-tertiary: #{$color-blue-kth};
  --color-error: #{$color-red-dark};
  --color-success: #{$color-green-dark};
  --color-hover-overlay: #{$color-black-20};
}

@mixin theme-inverse {
  --color-text: #{$color-white};
  --color-background: #{$color-blue-kth};
  --color-primary: #{$color-white};
  --color-on-primary: #{$color-blue-kth};
  --color-secondary: #{$color-white};
  --color-tertiary: #{$color-white};
  --color-error: #{$color-red-light};
  --color-success: #{$color-green-light};
  --color-hover-overlay: #{$color-black-20};
}
