// Gray-scale
$color-white: #fcfcfc;
$color-black: #212121;
$color-black-opacity10: rgb(33 33 33 / 0.1);

$color-gray-lightest: #f2f2f2;
$color-gray-lighter: #ededed;
$color-gray-light: #e6e6e6;
$color-gray-medium: #a5a5a5;
$color-gray-dark: #323232;

// Colors defined by "Varumärkesgruppen"
$color-sand: #e6e1dd;
$color-blue-kth: #004791;
$color-blue-kth-dark: #003975;
$color-blue-light: #e0edfc;
$color-blue-sky: #6298d2;
$color-blue-lake: #036eb8; // This is defined by us for links
$color-blue-marine: #08004f;
$color-blue-digital: #221dd9;

// Other colors, defined by us to meet various needs
$color-red-light: #fad6d6;
$color-red: #c7321d;
$color-red-dark: #bf2c17;
$color-red-darker: #962312;

$color-green-light: #d8ffe7;
$color-green: #3d784a;
$color-green-dark: #366f43;
$color-green-darker: #264f30;

@mixin theme-default {
  --color-text: #{$color-black};
  --color-background: #{$color-white};
  --color-background-alt: #{$color-gray-lighter};
  --color-header: #{$color-white};
  --color-on-header: #{$color-blue-marine};
  --color-primary: #{$color-blue-kth};
  --color-primary-hover: #{$color-blue-kth-dark};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-secondary-hover: #{$color-black-opacity10};
  --color-tertiary: #{$color-blue-lake};
  --color-error: #{$color-red};
  --color-error-hover: #{$color-red-dark};
  --color-success: #{$color-green};
  --color-success-hover: #{$color-green-dark};
  --color-border: #{$color-gray-medium};
}

@mixin theme-student-web {
  --color-text: #{$color-black};
  --color-background: #{$color-blue-light};
  --color-background-alt: #{$color-gray-lighter};
  --color-header: #{$color-blue-light};
  --color-on-header: #{$color-blue-marine};
  --color-primary: #{$color-blue-kth};
  --color-primary-hover: #{$color-blue-kth-dark};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-secondary-hover: #{$color-black-opacity10};
  --color-tertiary: #{$color-blue-lake};
  --color-error: #{$color-red-dark};
  --color-error-hover: #{$color-red-darker};
  --color-success: #{$color-green-dark};
  --color-success-hover: #{$color-green-darker};
  --color-border: #{$color-white};
}

@mixin theme-intranet {
  --color-text: #{$color-black};
  --color-background: #{$color-sand};
  --color-background-alt: #{$color-gray-lightest};
  --color-header: #{$color-sand};
  --color-on-header: #{$color-blue-marine};
  --color-primary: #{$color-blue-kth};
  --color-primary-hover: #{$color-blue-kth-dark};
  --color-on-primary: #{$color-white};
  --color-secondary: #{$color-black};
  --color-secondary-hover: #{$color-black-opacity10};
  --color-tertiary: #{$color-blue-kth};
  --color-error: #{$color-red-dark};
  --color-error-hover: #{$color-red-darker};
  --color-success: #{$color-green-dark};
  --color-success-hover: #{$color-green-darker};
  --color-border: #{$color-gray-medium};
}

@mixin theme-inverse {
  --color-text: #{$color-white};
  --color-background: #{$color-blue-kth};
  --color-background-alt: #{$color-blue-marine};
  --color-header: #{$color-blue-marine};
  --color-on-header: #{$color-white};
  --color-primary: #{$color-white};
  --color-primary-hover: #{$color-white};
  --color-on-primary: #{$color-blue-kth};
  --color-secondary: #{$color-white};
  --color-secondary-hover: #{$color-black-opacity10};
  --color-tertiary: #{$color-white};
  --color-error: #{$color-red-light};
  --color-error-hover: #{$color-red-light};
  --color-success: #{$color-green-light};
  --color-success-hover: #{$color-green-light};
  --color-border: #{$color-white};
}
