@use "./icons-raw.scss" as raw;

// TODO: move it somewhere else?
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@mixin with-icon($icon, $size: 1.25rem) {
  // We use this variable to avoid sending the same data twice to the users
  --icon: #{$icon};
  content: "";
  display: inline-block;
  width: $size;
  height: $size;
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  mask-size: cover;
  -webkit-mask-size: cover;
}

@mixin icon-language {
  @include with-icon(raw.$icon-language);
}

@mixin icon-search {
  @include with-icon(raw.$icon-search);
}

@mixin icon-menu {
  @include with-icon(raw.$icon-menu);
}

@mixin icon-caret-down {
  @include with-icon(raw.$icon-caret-right);
  rotate: 90deg;
}

@mixin icon-caret-right {
  @include with-icon(raw.$icon-caret-right);
}

@mixin icon-caret-right-big {
  @include with-icon(raw.$icon-caret-right-big);
}

@mixin icon-close {
  @include with-icon(raw.$icon-close);
}

@mixin icon-arrow-back {
  @include with-icon(raw.$icon-arrow-forward);
  rotate: 180deg;
}

@mixin icon-arrow-back-500 {
  @include with-icon(raw.$icon-arrow-forward-500);
  rotate: 180deg;
}

@mixin icon-arrow-forward {
  @include with-icon(raw.$icon-arrow-forward);
}

@mixin icon-arrow-forward-500 {
  @include with-icon(raw.$icon-arrow-forward-500);
}

@mixin icon-info-500 {
  @include with-icon(raw.$icon-info-500);
}

@mixin icon-warning-500 {
  @include with-icon(raw.$icon-warning-500);
}

@mixin icon-check-500 {
  @include with-icon(raw.$icon-check-500);
}

@mixin icon-new-window {
  @include with-icon(raw.$icon-new-window-300);
}

@mixin icon-new-window-500 {
  @include with-icon(raw.$icon-new-window-500);
}

@mixin icon-spinner {
  // This is based on https://css-loaders.com/spinner/#l3
  padding: 0.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  --_m: conic-gradient(transparent 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;

  // TODO: tokenize
  animation: spin 750ms infinite linear;
}
