@mixin with-icon($icon-name) {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-mask-image: $icon-name;
  mask-image: $icon-name;
  mask-size: cover;
  -webkit-mask-size: cover;
}

@mixin icon-language {
  @include with-icon(var(--icon-language));
}

@mixin icon-search {
  @include with-icon(var(--icon-search));
}

@mixin icon-menu {
  @include with-icon(var(--icon-menu));
}

@mixin icon-caret-down {
  @include with-icon(var(--icon-caret-right));
  rotate: 90deg;
}

@mixin icon-caret-right {
  @include with-icon(var(--icon-caret-right));
}

@mixin icon-close {
  @include with-icon(var(--icon-close));
}
