/// List of all KTH Style Design Tokens

// 1. Colors
$color-gray-6: #65656c;
$color-gray-2: #d4d4d4;
$color-gray-1: #f6f6f6;

$color-blue-6: #006388;
$color-blue-5: #007fae;

$color-green-6: #3f6600;
$color-green-5: #528400;
$color-green-1: #dff0d8;

$color-red-61: #b52c17;
$color-red-60: #d4351c;
$color-red-1: #f5e6e6;

$color-yellow-3: #fab919;
$color-yellow-1: #fcf8e3;

$color-black: #000;
$color-white: #fff;

// 2. Typography
// 2.1. Font families
$font-family-sans: "Open Sans", sans-serif;
$font-family-serif: Georgia, serif;

// 2.2. Font sizes
$font-size-base: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 1.875rem;
$font-size-3xl: 2.75rem;

// 2.3. Line heights
$font-lh-base: 1.5rem;
$font-lh-l: 2rem;
$font-lh-xl: 2.25rem;
$font-lh-2xl: 3rem;
$font-lh-3xl: 4rem;

// 2.4. Font weights
$font-weight-normal: 400;
$font-weight-bold: 600;

// 2.5. Combinations of font size, line height and font weight
@mixin font-h1 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-3xl;
  line-height: t.$font-lh-3xl;
}

@mixin font-h2 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-2xl;
  line-height: t.$font-lh-2xl;
}

@mixin font-h3 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-xl;
  line-height: t.$font-lh-xl;
}

@mixin font-h4 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-l;
  line-height: t.$font-lh-l;
}

@mixin font-h5 {
  font-weight: t.$font-weight-bold;
  font-size: t.$font-size-base;
  line-height: t.$font-lh-base;
}

// 3. Spacing (gaps, paddings, margins)
$spaces: 0, 2, 4, 6, 8, 12, 16, 20, 24, 32, 40, 48, 64, 80;
