@use "sass:list";

$font-figtree: Figtree, sans-serif;
$breakpoint-fluid-typography: 48rem;
$font-bold: 600;

// Replaces h1 (non-fluid)
@mixin font-heading-xl {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.5rem;
}

// Replaces h2 (non-fluid)
@mixin font-heading-l {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.5rem;
}

// Replaces h3 (non-fluid)
@mixin font-heading-m {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

// Replaces h4 (non-fluid)
@mixin font-heading-s {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin font-heading-xs {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

// Replaces t10 (non-fluid)
@mixin font-lead-l {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@mixin font-lead-m {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

// Replaces t11, t12 (non-fluid)
@mixin font-default {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

// Replaces t1
@mixin font-heading-xl-fluid {
  @include font-heading-l;

  @media (min-width: $breakpoint-fluid-typography) {
    @include font-heading-xl;
  }
}

// Replaces t2
@mixin font-heading-l-fluid {
  @include font-heading-m;

  @media (min-width: $breakpoint-fluid-typography) {
    @include font-heading-l;
  }
}

// Replaces t3
@mixin font-heading-m-fluid {
  @include font-heading-s;

  @media (min-width: $breakpoint-fluid-typography) {
    @include font-heading-m;
  }
}

// Replaces t4
@mixin font-heading-s-fluid {
  @include font-heading-xs;

  @media (min-width: $breakpoint-fluid-typography) {
    @include font-heading-s;
  }
}

// Replaces t10
@mixin font-lead-fluid {
  @include font-lead-m;

  @media (min-width: $breakpoint-fluid-typography) {
    @include font-lead-l;
  }
}

// What is the use case of this??
// Replaces t24
// @mixin t24 {
//   @include font-heading-s;

//   @media (min-width: $breakpoint-fluid-typography) {
//     // This is the same as `font-heading-l` but with weight 400
//     // Can we use just @include font-heading-l; ??
//     font-weight: 400;
//     font-size: 1.875rem;
//     line-height: 2.5rem;
//   }
// }
