@use "sass:math";
@use "sass:list";

/// Given a font-size and line-height values in "pixel units" (i.e. 1/16rem),
/// returns the value for the CSS `font` shorthand property expresseing font
/// size in rem and line height as unitless.
@function _generate-shorthand-font(
  $font-size-px,
  $line-height-px,
  $font-weight: null
) {
  // Same font-family for everything
  $font-family: "Figtree, sans-serif";
  $font-size-rem: math.div($font-size-px, 16) * 1rem;
  $line-height-unitless: math.div($line-height-px, $font-size-px);

  @if $font-weight {
    @return $font-weight list.slash($font-size-rem, $line-height-unitless)
      $font-family;
  }

  @return list.slash($font-size-rem, $line-height-unitless) $font-family;
}

@mixin theme-default {
  --default-font: 1rem/1.5 Figtree, sans-serif;
  --heading-xl-font: #{_generate-shorthand-font(44, 56, 600)};
  --heading-l-font: #{_generate-shorthand-font(30, 40, 600)};
  --heading-m-font: #{_generate-shorthand-font(24, 32, 600)};
  --heading-s-font: #{_generate-shorthand-font(20, 32, 600)};
  --label-l-font: #{_generate-shorthand-font(24, 32, 600)};
  --label-m-font: #{_generate-shorthand-font(19, 24, 600)};
  --label-s-font: #{_generate-shorthand-font(16, 24, 600)};
  --lead-font: #{_generate-shorthand-font(22, 32)};
}
