---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/details.scss";
---

<details class="kth-details">
  <summary>Show details</summary>
  <div class="kth-details__content">
    <p>Lorem ipsum</p>
  </div>
</details>
