@use "@kth/style/scss/tokens/colors";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/tokens/typography";
@use "@kth/style/scss/utils/mixins";

// TODO: convert into an "official" layout provided by KTH Style
// it can be a class or a mixin
.kth-app {
  @include mixins.container;

  margin-block-start: spacing.$space-20;
  margin-block-end: spacing.$space-64;
  display: grid;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "local-navigation main";
  grid-template-columns: 15rem 1fr;
  gap: 1rem 4rem;

  nav.breadcrumbs {
    grid-area: breadcrumbs;
  }

  aside {
    grid-area: local-navigation;
  }

  main {
    grid-area: main;
  }
}
