@use "@kth/style/scss/utils/mixins";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/tokens/colors";

.kth-visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

a:not([href]) {
  text-decoration: line-through;
}

.kth-column-splitter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: spacing.$space-32;
  // border: 1px solid black;
}

/// This is kept for retro-compatibility with Cortina.
/// @deprecated
.columnSplitter {
  @extend .kth-column-splitter;
}
