@use "@kth/style/scss/utils/reset";
@use "@kth/style/scss/components/button";
@use "@kth/style/scss/components/fieldset";
@use "@kth/style/scss/components/select";
@use "@kth/style/scss/components/input";
@use "@kth/style/scss/components/form-control";
@use "@kth/style/scss/components/checkbox";
@use "@kth/style/scss/components/details";
@use "./search.scss";
@use "./index.scss";

@mixin horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.styleweb-tabs {
  > [role="tablist"] {
    @include horizontal-list;
    width: 100%;
  }

  [role="tab"] {
    flex: 1;
    border: none;
    background: lightgray;
    width: 100%;
    padding-block: var(--space-inner-block);
    border-color: black;
    border-style: solid;
    border-width: 0;

    border-block-end-width: 1px;

    &:nth-child(n + 2) {
      border-inline-start-width: 1px;
    }

    &[aria-selected="true"] {
      background: none;
      border-block-end-color: transparent;
    }
  }
}

#panel-preview {
  padding: 2rem;
}
