/* Figtree variable */
@font-face {
  font-family: Figtree;
  src: url("/fonts/figtree[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("/fonts/figtree-italic[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
}

/* Figtree "static" (or non-variable).
Provided as fallback */
@font-face {
  font-family: "Figtree Static";
  src: url("/fonts/figtree-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree Static";
  src: url("/fonts/figtree-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Figtree Static";
  src: url("/fonts/figtree-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree Static";
  src: url("/fonts/figtree-semibold-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}
