@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/tokens/typography";
@use "@kth/style/scss/tokens/icons";
@use "@kth/style/scss/utils/mixins";

.kth-header-panel {
  top: 100%;
  width: 100%;
  // height: min(10rem, 50svh);

  border: none;
  background: var(--color-background);
  padding: 0;
  padding-block-end: spacing.$space-48;

  &__container {
    @include mixins.container;
  }

  h2 {
    font: var(--font-label-s);
    margin-block-start: spacing.$space-24;
    margin-block-end: spacing.$space-16;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: spacing.$space-16;
    flex-direction: column;
  }

  &__content.search {
    padding-block-end: spacing.$space-64;

    label {
      font: var(--font-label-l);
      margin-block-end: spacing.$space-8;
    }
  }
}

.kth-header-panel--modal {
  background-color: var(--color-background);
  position: fixed;
  right: 0;
  left: auto;
  top: 0;
  max-width: 32rem;
  max-height: 100dvh;
  width: 100dvw;
  height: 100dvh;
  border: 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: spacing.$space-16;
    flex-direction: column;
  }

  > .kth-header-panel__content {
    padding-inline: spacing.$space-32;

    > h2 {
      margin-block-start: spacing.$space-32;
      margin-block-end: spacing.$space-8;
      font: var(--font-label-l);
    }
  }
}

// Utility to hide text visually. The text will be still available for screen
// reader users.
//
// At the time of writing, aria-label is not reliable:
// https://adrianroselli.com/2019/11/aria-label-does-not-translate.html

button.close {
  display: flex;
  margin-inline-start: auto;
  background: transparent;
  border: none;
  padding-inline: 0;
  padding-block: spacing.$space-8;
}

button.close::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-primary);

  mask-image: icons.$icon-close;
  -webkit-mask-image: icons.$icon-close;
  mask-size: cover;
  -webkit-mask-size: cover;
}
