@use "@kth/style/scss/tokens/colors";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/tokens/typography";
@use "@kth/style/scss/components/lists";
@use "@kth/style/scss/utils/prose";

body {
  // TODO: move to reset in KTH Style
  line-height: 1.5;
  font-family: Figtree;
  margin: 0;
  padding: 0;

  @include colors.theme-default;
  @include spacing.theme-default;
  @include typography.theme-default;
}

a {
  text-underline-offset: spacing.$space-2;
  color: var(--link-color);
}
