@use "@kth/style/scss/tokens/colors";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/components/lists";
@use "@kth/style/scss/utils/prose";

body {
  // TODO: move to reset in KTH Style
  line-height: 1.5;
  font-family: Figtree;
  margin: 0;
  padding: 0;

  @include colors.theme-default;
  @include spacing.theme-default;
}

.kpm__container {
  margin-inline: auto;
  max-width: 80rem;
}

a {
  text-underline-offset: spacing.$space-2;
  color: var(--link-color);
}

.kpm__entries {
  ul {
    @include lists.horizontal-list();
    gap: spacing.gap(4);
  }

  a {
    color: var(--header-on-color);
    display: block;
    padding-block-start: spacing.$space-8;
    padding-inline: spacing.padding(8);
    text-decoration: none;

    // background: blue;
    padding-block-end: calc(spacing.$space-8 - spacing.$space-4);
    border-block-end: solid spacing.$space-4;
    border-block-end-color: transparent;
  }

  li:first-child a {
    box-sizing: border-box;
    width: 4rem;
    padding-inline: 0;
    text-align: center;
  }

  li:nth-child(3) a[aria-current="true"] {
    background: colors.$color-sand;
    color: colors.$color-blue-kth;
  }
}

.kth-main-header {
  @include colors.theme-intranet;
  background: var(--background-color);
  color: var(--header-on-color);
  padding-block: spacing.padding(16);
  position: relative;

  &__container {
    max-width: 80rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
  }

  &__logotype {
    width: 4rem;
    height: 4rem;
    border: none;
    margin: 0;
    margin-inline-end: spacing.margin(32);
    padding: 0;

    > img {
      translate: 0.125rem 0;
      // translate: 0.1875rem 0;
      block-size: 100%;
      inline-size: 100%;
    }
  }

  &__mega-menu {
    ul {
      @include lists.horizontal-list();
      gap: 1rem;
    }
  }

  &__tools {
    @include lists.horizontal-list();
    gap: 1rem;
    margin-inline-start: auto;
  }

  &__mega-menu--collapsable {
    display: none;
  }
}

.kth-dropdown {
  // Most of this can be for button.
  text-decoration: none;
  color: var(--header-on-color);
  font: inherit;
  border: none;
  background: none;

  &:has(svg) {
    display: flex;
    align-items: center;
    gap: spacing.gap(4);

    span {
      padding-block: spacing.padding(8);
      padding-block-end: spacing.padding(4);
      border-bottom: transparent spacing.$space-4 solid;
    }
  }

  &:hover {
    span {
      border-color: var(--header-on-color);
    }
  }
}

.kth-main-content {
  max-width: 80rem;
  margin-inline: auto;

  // TODO: convert into an "official" layout provided by KTH Style
  // it can be a class or a mixin
  display: grid;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "local-navigation main";
  grid-template-columns: 15rem 1fr;
  gap: 1rem 4rem;

  nav[aria-label="Breadcrumbs"],
  nav[aria-label="Brödsmulor"] {
    grid-area: breadcrumbs;
  }

  aside {
    grid-area: local-navigation;
  }

  main {
    grid-area: main;

    @include prose.prose;
  }
}

// To be moved to KTH Style.
// Needs more research first to see how they look like
.kth-label-1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.kth-label-2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-block-start: spacing.margin(24);
  margin-block-end: spacing.margin(8);
}

.kth-label-3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-block-start: spacing.margin(24);
  margin-block-end: spacing.margin(16);
}

.kth-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: spacing.gap(16);
}

nav[aria-label="Brödsmulor"] {
  padding-block: 1rem 2rem;

  ol {
    list-style: none;
    @include lists.horizontal-list();
  }

  li:nth-child(n + 2) {
    padding-inline-start: 0.5rem;

    &::before {
      content: "/";
      padding-inline-end: 0.5rem;
    }
  }
}
