@use "@kth/style/scss/tokens/colors";
@use "@kth/style/scss/tokens/spacing";
@use "@kth/style/scss/utils/reset";
@use "@kth/style/scss/utils/mixins";
@use "@kth/style/scss/components/header-menu-item";
@use "@kth/style/scss/components/main-header";
@use "@kth/style/scss/components/search";
@use "./header-panel.scss";
@use "./column-splitter.scss";
@use "./app.scss";
@use "./page.scss";
@use "./local-navigation.scss";
@use "./search.scss" as s;

.kth-visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.kpm__container {
  @include mixins.container;
}

.kpm__entries {
  ul {
    @include mixins.horizontal-list();
    gap: spacing.gap(4);
  }

  a {
    color: var(--color-primary);
    display: block;
    padding-block-start: spacing.$space-8;
    padding-inline: spacing.$space-8;
    text-decoration: none;

    padding-block-end: calc(spacing.$space-8 - spacing.$space-4);
    border-block-end: solid spacing.$space-4;
    border-block-end-color: transparent;
  }

  li:first-child a {
    box-sizing: border-box;
    width: 4rem;
    padding-inline: 0;
    text-align: center;
  }

  li:nth-child(3) a[aria-current="true"] {
    background: colors.$color-sand;
    color: colors.$color-blue-kth;
  }
}

a:not([href]) {
  text-decoration: line-through;
}
