@use "@kth/style/scss/tokens/spacing";

.kth-local-navigation {
  h2 {
    font: var(--font-label-m);
  }

  h3 {
    font: var(--font-label-s);
    margin-block-start: spacing.$space-32;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-block: spacing.$space-16;
  }

  a {
    text-decoration: none;
  }
}
