@mixin horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: spacing.$space-32;
}

.kth-visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
