---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

import "./Page.scss";
import "@components/color-table.scss";
import Layout from "./Layout.astro";
import Kpm from "../components/Kpm.astro";
import Header from "../components/Header.astro";
import Sidebar from "@components/Sidebar.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="kth-a11y-nav">
    <a href="#kth-main">Go to main content</a>
  </div>
  <Kpm />
  <Header />
  <div class="kth-content">
    <Sidebar />
    <main id="kth-main"><slot /></main>
  </div>
  <script>
    import { ColorTable } from "@components/color-table.ts";

    window.customElements.define("styleweb-color-table", ColorTable);
  </script>
</Layout>
