---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

import "../styles/index.scss";
import Layout from "./Layout.astro";
import Kpm from "../components/Kpm.astro";
import MainHeader from "../components/MainHeader.astro";
import Submenu from "@components/Submenu.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Kpm />
  <MainHeader />
  <div class="kth-app">
    <!-- <nav class="breadcrumbs" aria-label="Breadcrumbs">Breadcrumbs</nav> -->
    <Submenu />
    <main class="styleweb-page"><slot /></main>
  </div>
</Layout>
