---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

import "./Page.scss";
import Layout from "./Layout.astro";
import { Kpm } from "../components/Kpm.tsx";
import Header from "../components/Header.astro";
import Sidebar from "@components/Sidebar.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="kth-a11y-nav">
    <a href="#kth-main">Go to main content</a>
  </div>
  <Kpm client:load />
  <Header />
  <div class="kth-content">
    <Sidebar />
    <main id="kth-main"><slot /></main>
  </div>
</Layout>
