---
import "../../styles/fonts.css";
import "../../styles/index.scss";
import Layout from "../../layouts/Layout.astro";
import MainHeader from "../../components/MainHeader.astro";
import Kpm from "../../components/Kpm.astro";
import Submenu from "@components/Submenu.astro";
---

<Layout title="KTH Style">
  <Kpm />
  <MainHeader />
  <div class="kth-app">
    <!-- <nav class="breadcrumbs" aria-label="Breadcrumbs">Breadcrumbs</nav> -->
    <Submenu />
    <main>
      <h1>This is KTH Style</h1>
    </main>
  </div>
</Layout>
