---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/header.scss";
---

<header class="kth-header">
  <div class="kth-header__container">
    <figure>
      <img
        class="blue"
        alt=""
        srcset=" /style/assets/kth-logotype-blue.webp,
      /style/assets/kth-logotype-blue@2x.webp 2x,
      /style/assets/kth-logotype-blue@3x.webp 3x "
        src="/style/assets/kth-logotype-blue.png"
      />
    </figure>
  </div>
</header>
