---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/alert.scss";
---

<div class="kth-alert success">
  <p>An alert that informs the user about something successful</p>
</div>
<div>&nbsp;</div>
<div class="kth-alert success">
  <h2>A title</h2>
  <p>An alert that informs the user about something successful</p>
</div>
