/// Colors for KTH Style
///
/// Colors follow the name scheme `<color>-<number>`, where number is higher if the
/// color is darker.
$gray-6: #65656c;
$gray-2: #d4d4d4;
$gray-1: #f6f6f6;

$blue-6: #006388;
$blue-5: #007fae;

$green-6: #3f6600;
$green-5: #528400;
$green-1: #dff0d8;

$red-61: #b52c17;
$red-60: #d4351c;
$red-1: #f5e6e6;

$yellow-3: #fab919;
$yellow-1: #fcf8e3;

$black: #000;
$white: #fff;
