@use "sass:list";
@use "sass:math";

// All valid spacing values.
$_spaces: 0, 1, 2, 4, 8, 12, 16, 20, 24, 32, 40, 44, 48, 64, 80, 96, 112, 128,
  160, 192, 240, 256, 320, -4, -8, -12, -16;

/// Converts a single value of px to rem.
/// Throws an Error if the argument is not part of the valid spaces
///
/// This function is used internally. You should use `rem()` instead
@function _px_to_rem($px) {
  @if list.index($_spaces, $px) == null {
    @error "#{$px} is not a valid spacing. Use one of the following instead: #{$_spaces}";
  }

  @return math.div($px, 16) * 1rem;
}

/// Converts a list of `px` values to `rem`.
/// Throws an Error if any element is not valid
@function rem($list-of-px) {
  $list-of-rem: ();

  @each $element in $list-of-px {
    $list-of-rem: list.append($list-of-rem, _px_to_rem($element));
  }

  @return $list-of-rem;
}
