@font-face {
  font-family: Figtree;
  src: url("figtree.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  /* Text is displayed directly and the font face is displayed as soon as it is downloaded and ready to use */
  font-display: swap;
}

@font-face {
  font-family: Figtree;
  src: url("figtree-italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  /* Text is displayed directly and the font face is displayed as soon as it is downloaded and ready to use */
  font-display: swap;
}
