---
import ExamplePage from "@layouts/ExamplePage.astro";
---

<ExamplePage>
  <div class="kth-search">
    <label for="search-input">Sök på intranät</label>
    <input type="text" name="" id="search-input" />
    <button type="submit">
      <span class="kth-visually-hidden">Search</span>
    </button>
  </div>
</ExamplePage>
