---
import "@kth/style/scss/utils/reset.scss";
import "@kth/style/scss/components/main-header.scss";
---

<header class="kth-main-header">
  <div class="kth-main-header__container">
    <a href="https://kth.se" class="kth-main-header__logotype">
      <figure>
        <img
          alt="KTH"
          srcset="
        /style/assets/kth-logotype-64.webp,
        /style/assets/kth-logotype-64@2x.webp 2x,
        /style/assets/kth-logotype-64@3x.webp 3x
        "
          src="/style/assets/kth-logotype-64.png"
        />
      </figure>
    </a>
  </div>
</header>
