@use "../tokens/spacing.scss" as s;

/// This mixin provides CSS for webpages with lots of prose text.
///
/// It includes:
/// - CSS for tags like <p>, <h1-6>, <code>, <pre>, <ul> and <li>
/// - CSS classes like ".lead"
@mixin prose {
  p {
    font: var(--default-font);
    margin-block: s.$space-20;
    max-width: 60ch;
  }

  .lead {
    font: var(--font-lead);
    margin-block-start: s.$space-12;
    margin-block-end: s.$space-16;
  }

  h1 {
    font: var(--font-heading-xl);
    margin: s.margin(32 0 16 0);
  }

  h2 {
    font: var(--font-heading-l);
    margin: s.margin(32 0 16 0);
  }

  h3 {
    font: var(--font-heading-m);
    margin: s.margin(32 0 8 0);
  }

  h4 {
    font: var(--font-heading-s);
    margin: s.margin(32 0 4 0);
  }

  li {
    max-width: 60ch;
    margin: s.margin(8 0);
  }

  ol,
  ul {
    padding-inline-start: s.$space-32;

    li {
      padding-inline-start: s.$space-6;
    }
  }

  h1 + *,
  h2 + *,
  h3 + * {
    margin-block-start: 0;
  }

  table {
    table-layout: auto;
    text-align: left;
    margin: 2rem 0;
    border-collapse: collapse;

    display: block;
    overflow-x: auto;
  }

  thead {
    // TODO: border
    th {
      font: var(--font-label-s);
      padding-block: var(--space-inner-block);
      padding-inline: var(--space-inner-inline);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  tbody {
    // TODO: border

    td {
      vertical-align: baseline;
      padding: s.$space-8;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
