@use "../tokens/spacing.scss" as s;

/// This mixin provides CSS for webpages with lots of prose text.
///
/// It includes:
/// - CSS for tags like <p>, <h1-6>, <code>, <pre>, <ul> and <li>
/// - CSS classes like ".lead"
@mixin prose {
  font: var(--font-article-body);

  p {
    margin-block: s.$space-20;
    max-width: 60ch;
  }

  .lead {
    font: var(--font-lead);
    margin-block-start: s.$space-12;
    margin-block-end: s.$space-16;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  h1 {
    font: var(--font-heading-xl);
    margin: s.margin(32 0 16 0);
  }

  h2 {
    font: var(--font-heading-l);
    margin: s.margin(32 0 16 0);
  }

  h3 {
    font: var(--font-heading-m);
    margin: s.margin(32 0 8 0);
  }

  h4 {
    font: var(--font-heading-s);
    margin: s.margin(32 0 4 0);
  }

  li {
    max-width: 60ch;
    margin: s.margin(8 0);
  }

  ol,
  ul {
    padding-inline-start: s.$space-32;

    li {
      padding-inline-start: s.$space-6;
    }
  }

  h1 + *,
  h2 + *,
  h3 + * {
    margin-block-start: 0;
  }

  pre {
    margin-block: s.$space-32;
    padding-block: s.$space-16;
    padding-inline: s.$space-24;
  }

  table {
    @include s.theme-dense;
    table-layout: auto;
    text-align: left;
    margin-block: s.$space-32;
    border-collapse: collapse;
    overflow-x: auto;
  }

  thead {
    // TODO: border
    th {
      font: var(--font-label-s);
      padding-block: var(--space-inner-block);
      padding-inline: var(--space-inner-inline);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
      }
    }
  }

  tbody {
    // TODO: border

    td {
      vertical-align: baseline;
      padding-block: var(--space-inner-block);
      padding-inline: var(--space-inner-inline);

      &:first-child {
        padding-inline-start: 0;
      }

      &:last-child {
        padding-inline-end: 0;
      }
    }
  }
}
