@use "../tokens/spacing.scss" as s;
@use "../tokens/colors.scss" as c;
@use "../tokens/typography.scss" as t;

/// This mixin provides CSS for webpages with lots of prose text.
///
/// It includes:
/// - CSS for tags like <p>, <h1-6>, <code>, <pre>, <ul> and <li>
/// - CSS classes like ".lead"
@mixin prose {
  code:not(pre *) {
    font-size: 0.9rem;
    background-color: c.var(--color-background-alt);
    padding: s.$space-2 s.$space-4;
  }

  p {
    margin-block: s.$space-20;
    // TODO: change this to `rem` and tokenize
    max-width: 60ch;
  }

  .lead {
    @include t.font-lead-fluid;
    margin-block-start: s.$space-12;
    margin-block-end: s.$space-16;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  h1 {
    margin-block-start: s.$space-32;
    margin-block-end: s.$space-16;
  }

  h2 {
    margin-block-start: s.$space-32;
    margin-block-end: s.$space-16;
  }

  h3 {
    margin-block-start: s.$space-32;
    margin-block-end: s.$space-8;
  }

  h4 {
    margin-block-start: s.$space-32;
    margin-block-end: s.$space-4;
  }

  li {
    max-width: 60ch;
    margin-block: s.$space-8;
    margin-inline: 0;
  }

  ol,
  ul {
    padding-inline-start: s.$space-32;

    li {
      padding-inline-start: s.$space-6;
    }
  }

  h1 + *,
  h2 + *,
  h3 + * {
    margin-block-start: 0;
  }

  pre {
    margin-block: s.$space-32;
    padding-block: s.$space-16;
    padding-inline: s.$space-24;
  }
}
