@use "../tokens/typography";
@use "../tokens/spacing";
@use "../tokens/colors";

/// Based on https://andy-bell.co.uk/a-more-modern-css-reset/
@layer kth-style {
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scrollbar-gutter: stable;
  }

  :root {
    @include colors.theme-default;
    @include spacing.theme-default;
    @include typography.theme-default;
  }

  body {
    color: var(--color-text);
    background: var(--color-background);
    font: var(--font-default);
    min-height: 100vh;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  a {
    color: var(--color-tertiary);
    text-underline-offset: spacing.$space-4;
  }

  img,
  picture {
    max-width: 100%;
  }

  input, button,
  textarea, select {
    font: inherit;
  }
}
