@use "../../../scss/reset.scss";
@use "../../../scss/components/Dropdown.scss";
@use "../../../scss/globals.scss" as g;

.kth-0-patterns-undervisning {
  display: flex;
  gap: g.rem(8) g.rem(16);
  justify-content: space-between;
  flex-wrap: wrap;

  .shortcuts {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: g.rem(0) g.rem(16);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: g.rem(0) g.rem(16);
      flex-wrap: wrap;
    }

    a {
      display: inline-block;
      margin: 4px 0;
    }
  }
  .all-rooms {
    display: flex;
    gap: g.rem(0) g.rem(16);
    flex-wrap: wrap;
  }
}
